nav {
  display: flex;
  justify-content: flex-end;
  background: black;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin: 15px;
}

a {
  text-decoration: none;
  padding-left: 5px;
}

header {
  text-align: center;
  padding: 10px;
  margin-top: 50px;
}

.info-section{
  text-align: center;
  background: lightgray;
  padding: 10px;
  margin-bottom: 5%;
}

footer {
  background: black;
  color: white;
  padding: 5px;
}